@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


/* 
 * ID
 */


#aside {
  background: url('/src/components/weather-finder-aside-img.jpeg') no-repeat center center fixed;
  color: #f8f8ff;
  text-align: center;
  padding-top: 160px;
  padding-left: 10px;
  padding-right: 10px;
}

#main {
  background-color: #343d52;
  width: 550px;
}

#main-container {
  display: flex;
  justify-content: center;
  min-width: 600px;
  height: 600px;
}

#location {
  border-bottom: 1px solid #606060;
  margin-top: 20px;
}

#temperature {
  border-bottom: 1px solid #606060;
}

#humidity {
  border-bottom: 1px solid #606060;
}


/* 
 * CLASS
 */


.App {
 
}


/* 
 * ELEMENT
 */


body {
  background-color: #A52A2A;
}

button {
  background-color: #A52A2A;
  color: #f8f8ff;
  height: 40px;
  margin-top: 60px;
  padding: 5px 15px;
}

button:hover {
  background-color: #ae3f3f;
  border-color: #93CCEA;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 500px;
  margin-left: 40px;
}

img {
  height: 100%;
  width: 100%;
}

input {
  background-color: #343d52;
  color: #f8f8ff;
  border-bottom: 2px solid #A52A2A;
  margin-top: 60px;
  margin-right: 10px;
}

label {
  color: #A52A2A;
  font-size: 20px;
  display: block;
  width: 260px;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

span {
  color: #f8f8ff;
}

@media screen and (max-width: 700px) {
  #main-container {
      flex-flow: row wrap;
  }
  #aside {
    display: none;  
  }
  #main {
    height: 600px;
    width: 100%;
  }
  button{
    background-color: #0275d8;
  }
  button:hover {
  background-color: #5bc0de;
  border-color: white;
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 500px;
  }
  input {
  background-color: white;
  color: black;
  border-bottom: 2px solid #A52A2A;
  }
}
