@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

#aside {
  background-color: #f8f8ff; 
  width: 45%; 
}

#main {
  background-color: #343d52; 
  width: 55%; 
}

#main-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 25px 10px 25px 10px;
}

#location {
  border-bottom: 1px solid #606060;
  margin-top: 20px;
}

#temperature {
  border-bottom: 1px solid #606060;
}

#humidity {
  border-bottom: 1px solid #606060;
}

body {
  background-color: #A52A2A;
}

button {
  color: #f8f8ff;
  background-color: #A52A2A;
  margin: 5px;
  padding: 5px 15px;
}

button:hover {
  background-color: #ae3f3f;
  border-color: #93CCEA;
}
form {
  margin-left: 60px;
  display: block;
}

input {
  border: none;
  background-color: #343d52;
  color: #f8f8ff;
  border-bottom: 2px solid #A52A2A;
  margin-top: 120px;
  margin-right: 10px;
}

label {
  color: #A52A2A;
  font-size: 20px;
  display: block;
  width: 300px;
  padding-bottom: 25px;
}

span {
  color: #f8f8ff;
}
